anyio==4.12.1
threadpoolctl==3.6.0
protobuf==6.33.4
cloudpickle==3.1.2
requests==2.32.5
pyarrow==21.0.0
click==8.3.1
cachetools==6.2.4
tzdata==2025.3
pytz==2025.2
opentelemetry-sdk==1.39.1
certifi==2026.1.4
pillow==12.1.0
SQLAlchemy==2.0.45
numpy==2.4.1
pydantic==2.12.5
graphene==3.4.3
blinker==1.9.0
Flask==3.1.2
contourpy==1.3.3
cryptography==45.0.7
pip==25.3
idna==3.11
itsdangerous==2.2.0
cffi==2.0.0
kiwisolver==1.4.9
fastapi==0.128.0
matplotlib==3.10.8
opentelemetry-api==1.39.1
pyasn1==0.6.1
pyparsing==3.3.1
charset-normalizer==3.4.4
graphql-core==3.2.7
databricks-sdk==0.77.0
mlflow-skinny==3.3.2
graphql-relay==3.2.0
h11==0.16.0
gitdb==4.0.12
rsa==4.9.1
importlib_metadata==8.7.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
gunicorn==23.0.0
sentry-sdk==2.49.0
pydantic_core==2.41.5
uvicorn==0.40.0
Mako==1.3.10
urllib3==2.6.3
typing_extensions==4.15.0
Werkzeug==3.1.5
packaging==25.0
joblib==1.5.3
cycler==0.12.1
Jinja2==3.1.6
MarkupSafe==3.0.3
GitPython==3.1.46
mlflow==3.3.2
platformdirs==4.5.1
docker==7.1.0
mlflow-tracing==3.3.2
smmap==5.0.2
pyasn1_modules==0.4.2
starlette==0.50.0
alembic==1.18.0
google-auth==2.47.0
typing-inspection==0.4.2
scipy==1.17.0
zipp==3.23.0
annotated-types==0.7.0
fonttools==4.61.1
pandas==2.3.2
six==1.17.0
pycparser==2.23
scikit-learn==1.8.0
opentelemetry-semantic-conventions==0.60b1
sqlparse==0.5.5
annotated-doc==0.0.4
wandb==0.21.3
